
html {
    width: 100%;
    height: 100%;
}

body {
background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 900;
    color: wheat
}

.play{
    display: flex;
    font-size: -webkit-xxx-large;
    border-radius: 15px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




@media screen and (min-width: 320px) and (max-width: 600px) {

    html {
        width: 100%;
        height: 100%;
    }


    .play{
        font-size: 2em;
    }

}