
* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: wheat;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 50px; 
    color: wheat;
    margin-top: 40px;
}

.play{
    display: flex;
    font-size: 40px;
    border-radius: 15px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drop {
    height: 50vh;
    background-size: 100% 100%;
    background-image: url(images/drop.svg);
}



@media screen and (min-width: 320px) and (max-width: 768px) {

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 30px; 
    }
    .play{
        font-size: 20px;
    }

}